<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.ons.gov.uk/sixteens/{{ metadata.sixteensVersion }}/css/main.css">
    <link rel="stylesheet" href="/assets/styles/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <meta name="robots" content="noindex, nofollow">
</head>